.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 264px;
    margin-right: 120px;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-desc {
    color: #F4F4FD;
    line-height: 1.5;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-socials-title {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
}

.footer-socials-list{
    gap: 16px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
}